.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;

  .chat {
    margin: 1em;
    background-color: #1C1C1E;
    border-radius: 1em;

  .sendMessage { 
    margin-top: 0;
  }
  }
}